@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(29, 158, 233);
    --secondary-color: rgb(106, 228, 58);
    --error-color: rgb(224, 61, 61);
}

body {
    margin: 0px;
    font-family: Roboto, 'Times New Roman', Times, serif;
}

.highlight-blue {
    color: var(--primary-color);
}

.highlight-green {
    color: var(--secondary-color);
}

h1 {
    text-align: center;
    font-size: clamp(28px, 3vw, 54px);
    font-family: 'Crimson Text';
}

h1 > span {
    font-size: 1.3em;
}

.game-area {
    width: min(90vw, 400px);
    height: min(90vw, 400px);
    margin: auto;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.cell {
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.cell:nth-child(1) {
    border-width: 0px 1px 1px 0px;
}

.cell:nth-child(2) {
    border-width: 0px 1px 1px 1px;
}

.cell:nth-child(3) {
    border-width: 0px 0px 1px 1px;
}

.cell:nth-child(4) {
    border-width: 1px 1px 1px 0px;
}

.cell:nth-child(6) {
    border-width: 1px 0px 1px 1px;
}

.cell:nth-child(7) {
    border-width: 1px 1px 0px 0px;
}

.cell:nth-child(8) {
    border-width: 1px 1px 0px 1px;
}

.cell:nth-child(9) {
    border-width: 1px 0px 0px 1px;
}

.symbol {
    font-family: 'Crimson Text';
    font-size: 4em;
    transition: font-size 0.1s ease-in, text-shadow 0.1s;
}

.symbol__X {
    color: var(--primary-color);
}

.symbol__O {
    color: var(--secondary-color);
}

.form {
    width: min(500px, 100%);
    margin: 40px auto 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form > label, input {
    display: block;
}

.input-container > input {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
}

#playerOne {
    border: 1px solid var(--primary-color);
}

#playerTwo {
    border: 1px solid var(--secondary-color);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 30px;
    margin-bottom: 80px;
    background: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;

    transition: background-image 1s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

button:hover {
    animation: shake 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.message-container {
    width: 60%;
    min-height: 50px;
    margin: 40px auto 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: clamp(16px, 2vw, 36px);
}

.message-container p {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(6deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 400px) {
    .form {
        flex-direction: column;
        gap: 10px;
    }
}
